body {
    margin: 0;
    display: flex;
}



/* === FORM-BILD === */
.form-img-container {
    position: relative;
}

.form-img {
    height: 100vh;
    width: 40vw;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 200px;
    width: 100%;
}

.title-img {
    height: 150px;
}

.title > h1 {
    color: #fff;
    text-transform: uppercase;
}



/* === FORM === */
.form-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(237, 237, 237);
}

.form fieldset {
    border: none;
}

.form > fieldset {
    display: flex;
    flex-wrap: wrap;
}

.input-element {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 30px;
}