:root {
    --background: #1D2B3A;
    --green: #658E4C;
    --black: #000;
    --white: #fff;
}

body {
    margin: 0;
    display: flex;
}



/* === FORM-BILD === */
.form-img-container {
    position: relative;
}

.form-img {
    height: 100vh;
    width: 40vw;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 200px;
    width: 100%;
}

.title-img {
    height: 150px;
}

.title > h1 {
    color: var(--white);
    text-transform: uppercase;
}



/* === FORM === */
.form-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    justify-content: center;
    padding-left: 6rem;
    padding-right: 10rem;
}

.form > h1 {
    font-size: 3rem;
    color: var(--white);
    margin: 0;
}

.form > fieldset {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: none;
    padding: 0;
}

.input-element-group {
    display: flex;
    gap: 100px;
}

.input-element {
    display: flex;
    flex-direction: column;
}

.input-element label {
    font-size: 1.5rem;
    color: var(--white);
    transform: translate(10px, 25px);
    transition: transform .5s ease-in-out;
}

.input-element input {
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--background);
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--black);
}

.input-element input:focus {
    outline: none;
    border: 1px solid var(--green);
    border-radius: 5px;
}

.form-footer button {
    background-color: var(--green);
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

.form-footer p,
.form-footer .log-in {
    font-size: 1.2rem;
}

.form-footer p {
    color: var(--white);
}

.form-footer .log-in {
    color: var(--green);
}